.imageGroup {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 1;
    flex: 25%;
    /* max-height: 500px;
     */
     max-height: 100%;
    padding: 0 4px;
    justify-content: center;
}

.imageGroup img {
    background-color: transparent;
    padding: 1px 3px;
     max-height: 25vh;
    /* max-width: 12vw;  */
    /* width: auto; */
    flex: 1;
    flex-basis: 20vh;
    object-fit: cover;
}

.imageGrid img {}

.twoImages {
    grid-template-areas: 'a b';
}

.threeImages {
    grid-template-areas: "a a b b" ". c c .";
}

.fourImages {
    grid-template-areas: "a a b b" "c c d d";
}

.fiveImages {
    grid-template-areas: "a a b b" "c c d d" "e e e e"
}

.fiveImages :first-child {
    grid-area: a;
}

.fiveImages :nth-child(2) {
    grid-area: b;
}

.fiveImages :nth-child(3) {
    grid-area: c;
}

.fiveImages :nth-child(4) {
    grid-area: d;
}

.fiveImages :nth-child(5) {
    grid-area: e;
}

.twoImages {
    grid-template-areas: 'a b'
}