body {
    background-color: #FFA5AB;
}

img {
    z-index: 15;
}

.wrapper {
    /* position: relative; */
}

.galleryPreface {
    margin-top: 6rem;
}

.imageWrapper {
    position: relative;
    margin-bottom: 2rem;
    z-index: 5;
}

/* Definitely does more evil than just offsetting Y axis*/

.offsetY {
    margin-bottom: 15vh;
}

.offsetY img {
    max-width: 110%;
    transform: translateX(-10%);
}

.offsetY img:first-child {
    z-index: 15;
    max-width: 120%;
    transform: translateY(25%);
}

.caption {
    z-index: 10;
    word-wrap: wrap;
    /* color: #E55073; */
    color: #F2C14E;
    font-size: 2.8rem;
    font-weight: 800;
    width: 100%;
    top: 0;
    line-height: 2rem;
    /* margin-bottom: .5rem; */
    position: absolute;
    /* line-height: 0; */
}

.caption span{
    z-index: 7000;
}

.stripe {
    /* box-sizing: border-box; */
    position: absolute;
    padding: 15vh 75vw;
    transform: translateY(-2rem);
    z-index: -10;
    background-color: #A53860;
    top: -5vh;
    left: 0;
    clip-path: polygon(0 0, 80% 00%, 100% 100%, 0% 100%)
}

.colorTeal {
    color: teal;
}

.colorDarkPink {
    color: #E55073;
}

.colorLightPink {
    color: #FC586B;
}

.alignCenter {
    text-align: center;
}

.pullUp {
    transform: translateY(-25%);
}

.pullUp100 {
    transform: translateY(-100%);
}

.pullDown {
    top: 125%;
}

.pullDownLess {
    top: 99%;
}

.pullLeft {
    left: -5%;
}

.alignRight {
    text-align: right;
}